@charset "utf-8";

@media screen and (max-width:1024px) {

    .article2 li { height:300px; 
        float:left; width:49%; margin-right:2%;
        margin-bottom:20px;
        color:#fff;
        position:relative; 
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover; opacity:1; 
        transition:all 1s;
    }


.article2 li:nth-child(1) { background-image:url(../img/what1.jpg);  }
.article2 li:nth-child(2) { background-image:url(../img/what2.jpg);  margin-right:0}
.article2 li:nth-child(3) { background-image:url(../img/what3.jpg);  }
.article2 li:nth-child(4) { background-image:url(../img/what4.jpg); margin-right:0 }

.article2 li > div { position:absolute; 
    bottom:25px; left:25px; 
    right:25px; transition:all 0.4s;
    text-align:center; 
}

.article2 li > div > h3 { font-size: 24px; line-height: 32px; font-weight: 500; 
margin-bottom:30px; 
}

.article2 li > div > p { display:none; }




}